/*
MOUNTAIN
https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=376&q=80 */

/*
sea
https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    width: 600px;
    height: 400px; /*deb*/
    margin: auto;
    background-color: #c6c6c6;
    display: flex;
}

.box {
    width: 50%;
    height: 100%;  /*deb*/
    padding: 24px;
    border: 1px solid black;
}

